  <h1>All Recipes</h1>
  <hr/>

    <% @recipes.each do |recipe| %>
      <div class="row">
        <div class="col-md-2">
          <section class="barmen_info center">
            <%= gravatar_for recipe.barmen, size: 100 %>
            <h5>Barmen name: <%= recipe.barmen.barmenname %></h5>
          </section>
        </div>

        <div class="col-lg-8 well">
          <h4><%= link_to recipe.name, '' %></h4>
          <p><%= recipe.summary %></p>
          <p>
            <span class="quiet">
              <small><%= time_ago_in_words(recipe.created_at) %> ago</small>
            </span>
          </p>
        </div>
      </div>
      <hr/>
    <% end %>
